@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: white;
  transition: all 0.5s;
}

.hamburger-middle {
  width: 15px;
}

.hamburger-middle {
  transform: translateY(12px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.ourwork .swiper-button-next {
  position: absolute !important;
  right: 38% !important;
  top: 14% !important;

  background-color: rgb(119, 186, 119) !important;
  color: white !important;
  border-radius: 50% !important;
  padding: 1.3rem !important;
}

.ourwork .swiper-button-next::after,
.ourwork .swiper-button-prev::after {
  font-size: 20px !important;
}

.ourwork .swiper-button-prev {
  background-color: rgb(119, 186, 119) !important;
  color: white !important;
  border-radius: 50% !important;
  padding: 1.3rem !important;
  left: 38% !important;
  top: 14% !important;
}

@media screen and (max-width: 639px) {
  .ourwork .swiper-button-next {
    right: 2% !important;
    top: 22% !important;
  }
  .ourwork .swiper-button-prev {
    left: 2% !important;
    top: 22% !important;
  }
}

@media screen and (min-width: 640px) {
  .ourwork .swiper-button-next {
    right: 28.5% !important;
  }
  .ourwork .swiper-button-prev {
    left: 28% !important;
  }
}

@media screen and (min-width: 768px) {
  .ourwork .swiper-button-next {
    right: 34% !important;
  }
  .ourwork  .swiper-button-prev {
    left: 34% !important;
  }
}

@media screen and (min-width: 1024px) {
  .ourwork .swiper-button-next {
    right: 38% !important;
  }
  .ourwork .swiper-button-prev {
    left: 38% !important;
  }
}

@media screen and (min-width: 350px) and (max-width: 639px) {
  .teamInfo {
    padding-left: 20%;
  }
}